<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4Tu8xzZEraZUjKMNMZMNX78oQb87GNcg</string>
	<key>GCM_SENDER_ID</key>
	<string>604917584826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CSEDEVSOCHealthiNest.HealthiNest</string>
	<key>PROJECT_ID</key>
	<string>healthinesth</string>
	<key>STORAGE_BUCKET</key>
	<string>healthinesth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604917584826:ios:74e7ec7cbc730f2f570383</string>
</dict>
</plist>